@media (min-width: 300px) {
  .container {
    flex-wrap: wrap;
  }
}

@media (min-width: 500px) {
  .container {
    flex-wrap: wrap;
  }
}

@media (min-width: 500px) {
  .container {
    flex-wrap: wrap;
  }
}

/* Khi chiều rộng màn hình từ 1920px trở lên */
@media (min-width: 1000px) {
  .container {
    flex-wrap: wrap;
  }
}