---
import '@/styles/global.css'
---
<html lang="vi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <slot/>
    </body>
</html>


