---
import '@/styles/global.css'
---
<html>
    <header>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
    </header>
    <body>
        <slot/>
    </body>
</html>


